PORT=8080
CORS_ORIGIN=http://localhost:4200

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=foodmapdb_in5bm

JWT_SECRET=cambia-esto-por-un-secreto-largo-y-aleatorio
JWT_EXPIRES_IN=1d
